<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>明日方舟模组任务一览</title>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.11"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div id="app">
            <div id="filter">
                <p>
                    <button v-on:click="setFilter(true)">全选</button>
                    <button v-on:click="setFilter(false)">全不选</button>
                </p>
                <p>
                    <div class="option" v-for="op in ops">
                        <input type="checkbox" v-model="op.show"> {{op.name}}
                    </div>
                </p>
            </div>
            <table id="data">
                <tr><th width="10%">角色</th><th width="40%">任务1</th><th width="50%">任务2</th></tr>
                <tr v-for="char in filtered_data">
                    <td>{{char.name}}</td>
                    <td>{{char.desc[0]}}</td>
                    <td>{{char.desc[1]}}</td>
                </tr>
            </table>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>