<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>明日方舟模组任务一览</title>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.11"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div id="app">
            <div id="select-server">
                服务器 Server：
                <select v-model="server" v-on:change="loadServerData()">
                    <option v-for="(name, code) in server_list" :value="code">{{name}}</option>
                </select>
            </div>
            <div id="filter">
                <div>
                    筛选方式 Filter：
                    <select v-model="filter_type">
                        <option value="op">作战 By operation</option>
                        <option value="prof">职业 By profession</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;
                    <button v-on:click="setFilter(true)">全选 Select all</button>
                    <button v-on:click="setFilter(false)">全不选 Select none</button>
                </div>
                <div>
                    清除进度 Clear progress<button v-on:click="clearProgress">点击{{clear_confirm}}次 Click here {{clear_confirm}} times</button>
                </div>
                <div v-if="filter_type == 'op'">
                    <div class="option" v-for="op in ops">
                        <input type="checkbox" v-model="op.show"> {{op.name}}
                    </div>
                </div>
                <div v-if="filter_type == 'prof'">
                    <div v-for="prof in profs">
                        {{prof.name}}:
                        <div class="option" v-for="subprof in prof.sub">
                            <input type="checkbox" v-model="subprof.show"> {{subprof.name}}
                        </div>
                    </div>
                </div>
            </div>
            <table id="data" width="100%">
                <tr><th width="10%">角色 Operator</th><th width="40%">任务 Mission 1</th><th width="50%">任务 Mission 2</th></tr>
                <tr v-for="(char, code) in filtered_data">
                    <td>{{char.name}}</td>
                    <td><input type="checkbox" v-model="progress[0][code]">{{char.desc[0]}}</td>
                    <td><input type="checkbox" v-model="progress[1][code]">{{char.desc[1]}}</td>
                </tr>
            </table>
            <div id="error">
                <h2>{{errormsg}}</h2>
            </div>
        </div>
        <script src="js/app.js"></script>
    </body>
</html>